<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes App</title>
    <link rel="stylesheet" href="/recipes_service/assets/css/app.css">
</head>
<body>
    <div class="recipes">
        <div class="recipe">
            <h2>Pizza</h2>
            <img src="/recipes_service/assets/images/pizza.jpeg">
        </div>
        <div class="recipe">
            <h2>Burger</h2>
            <img src="/recipes_service/assets/images/burger.jpeg">
        </div>
    </div>
</body>
</html>